/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    
    /* Color styles */
    --dark-color: #333333;
    --header-color: #0084FD;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --card-bg-color: #B5DDFF;
    --contrast-color: #FDC15F;


    /* Text colors variables */

    /* Border variables */

    /* Hover variables */
    
    /* Size variables */

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    font-family: 'PT Sans', sans-serif;
}