/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --dark-color: #333333;
    --header-color: #0084FD;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --card-bg-color: #B5DDFF;
    --contrast-color: #FDC15F;

    /* Border variables */
    --bdr-small: 20px;
    --bdr-large: 40px;

    /* Hover variables */
    
    /* Size variables */
    --header-height: 80px;
    --fs-header: 1.5rem;
    --fs-h2: 1.8rem;
    --fs-h2-big: 2.8rem;
    --fs-h3: 1.5rem;
    --fs-p: 1.05rem;
    --fs-btn: 0.95rem;
    --fs-card-icon: 5rem;
    --fs-benefit-number: 3rem;

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Sans', sans-serif;
}
main section:nth-child(even){
    background-color: var(--primary-color);
}
.container{
    padding: 3.5rem 2rem 4.5rem 2rem;
}
ul{
    list-style: none;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.small-bord-rad{
    border-radius: var(--bdr-small);
}
.large-bord-rad{
    border-radius: var(--bdr-large);
}
.capitalize{
    text-transform: capitalize;
}
.italic{
    font-style: italic;
}
.uppercase{
    text-transform: uppercase;
}
.line-height-1-8{
    line-height: 1.8;
}
h3{
    font-size: var(--fs-h3);
    padding-bottom: 1.8rem;
}
h2{
    font-size: var(--fs-h2);
    padding: 5rem 0 2.8rem 0;
}
.category{
    font-size: calc(var(--fs-p) + 0.1rem);
}
.txt-contrast{
    color: var(--contrast-color);
    font-size: calc(var(--fs-h2-big) + 1rem);
    font-weight: bold;
}

/*****************************************************************/
/**************************** Buttons ****************************/
/*****************************************************************/
.btn{
    font-size: var(--fs-btn);
    padding: 0.6rem 3rem;
    border: 2px solid transparent;
    border-radius: var(--bdr-small);
}
.btn i{
    margin-right: 0.5rem;
}
.btn-blue{
    color: var(--light-color);
    background-color: var(--header-color);
    letter-spacing: .1rem;
    margin: 1.8rem 0 1.8rem 0;
    font-weight: bold;
}
.btn-white{
    font-size: calc(var(--fs-btn) + 0.15rem);
    background-color: var(--light-color);
    color: var(--dark-color);

    padding: 0.4rem 1rem;
}
.btn-purple{
    font-size: var(--fs-btn);
    background-color: var(--primary-color);
    color: var(--light-color);
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.6rem 2.8rem;
}
.btn-no-spacing{
    letter-spacing: 0;
}
.btn-hor-padd-small{
    padding-left: 1rem;
    padding-right: 1rem;
}

/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header{
    background-color: var(--header-color);
    color: var(--light-color);
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: none;
}
header nav a, header nav a:visited{
    color: var(--light-color);
    font-size: var(--fs-header);
    text-decoration: none;
}
header .container{
    padding-top: 1rem;
}

/*****************************************************************/
/****************************** Main *****************************/
/**************************** General ****************************/
/*****************************************************************/
main{
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-top: var(--header-height);
}

/*****************************************************************/
/***************************** Intro *****************************/
/*****************************************************************/
.card{
    width: 100%;
    background-color: var(--card-bg-color);
    margin-bottom: 1.5rem;
    padding: 2.5rem 1.8rem;
}
.card h3{
    color: var(--header-color);
}
.card:first-child{
    padding-bottom: 0;
}
.card-left-txt, .card-right-img, .card-right-img img{
    width: 100%;
}
.card:first-child p{
    text-align: left;
}
.card p{
    color: var(--dark-color);
    font-weight: bold;
    opacity: 70%;
    font-size: var(--fs-p);
}
.card:first-child img{
    margin-bottom: -4px;
    max-width: 250px;
}
.card-icon{
    font-size: var(--fs-card-icon);
    color: var(--header-color);
    margin-bottom: 1.8rem;
}

/*****************************************************************/
/*************************** Planning ****************************/
/*****************************************************************/
#planning{
    color: var(--light-color);
}
#planning img{
    width: 100%;
}
#planning #appDevelopment{
    background-color: var(--light-color);
    margin: 1.8rem 0 0 0;
    padding: 1rem 1rem;
    color: var(--dark-color);
}
#planning #appDevelopment h3{
    font-size: var(--fs-h3);
    margin: 1.4rem 0;
}
#planning #appDevelopment p{
    font-size: var(--fs-p);
    font-weight: 500;
}
#planning #appDevelopment a, #planning #appDevelopment a:visited{
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: var(--fs-h3);
    padding-top: 12px;
    margin: 2.5rem 0 1rem 0;
    text-decoration: none;
}

/*****************************************************************/
/************************* Testimonials **************************/
/*****************************************************************/
.testimonial{
    min-width: 294px;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
}
.testimonial-photo{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.testimonial-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial-info .testimonial-description{
    padding: 1.3rem 0 1.8rem 0;
    font-size: calc(var(--fs-p) + 0.1rem);
}
.testimonial-info .testimonial-description i{
    font-size: calc(var(--fs-p) + 0.3rem);
}
.testimonial-info .testimonial-name{
    font-size: calc(var(--fs-p) + 0.3rem);
    font-weight: bold;
}
#testimonials h2{
    padding: 2rem 0;
    color: var(--primary-color);
    font-size: calc(var(--fs-h2) + 0.2rem);
}
#testimonials .init-description{
    padding: 0 0.5rem 3rem 0.5rem;
}
#testimonials .init-description p:last-child{
    font-size: calc(var(--fs-p) + 0.1rem);
    font-weight: 500;
}

/*****************************************************************/
/*************************** Features ****************************/
/*****************************************************************/
#features .benefit{
    background-color: var(--light-color);
    padding: 2.5rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
}
.benefit .number, .benefit h3{
    color: var(--primary-color);
}
#features h2{
    color: var(--light-color);
    font-size: var(--fs-h2-big);
    text-align: center;
    padding: 1rem 1rem 4rem 1rem;
}
.benefit h3{
    margin-top: 1.5rem;
}
.benefit p{
    margin-bottom: 1.5rem;
}
.benefit .number{
    font-size: var(--fs-benefit-number);
    font-weight: bold;
}

/*****************************************************************/
/*************************** About us ****************************/
/*****************************************************************/
#about-us .testimonial-photo{
    position: relative;
}
#about-us .testimonial-photo i{
    font-size: 5rem;
    color: var(--primary-color);
    position: absolute;
    top: -1rem;
    right: -1rem;
}
#about-us h3{
    color: var(--primary-color);
    font-size: calc(var(--fs-h3) + 0.15rem);
}
#about-us p{
    margin-bottom: 3rem;
    font-size: calc(var(--fs-p) + 0.1rem);
}
#about-us h2{
    color: var(--primary-color);
    font-size: var(--fs-h2-big);
    padding: 1rem 1rem 2rem 0;
}
#about-us .testimonial-photo{
    width: 180px;
    height: 180px;
    margin: 0 0 2rem 0;
}

/*****************************************************************/
/************************ Call to action *************************/
/*****************************************************************/
#call-to-action, #call-to-action a{
    color: var(--light-color);
}
#call-to-action .category{
    opacity: 60%;
}
#call-to-action .mot{
    font-size: var(--fs-h2);
    font-weight: bold;
    padding: 1.8rem 1rem;
}
#call-to-action .content{
    padding: 1.8rem 0;
}
#call-to-action button{
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
    border-radius: 40px;
}
#call-to-action .copyright{
    padding-top: 2rem;
}

/*****************************************************************/
/***************************** Footer ****************************/
/*****************************************************************/
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
footer .container{
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
}
footer .container .textContainer{
    max-width: 450px;
    padding: 0 1rem;
}
footer .container .textContainer p:first-child{
    margin-bottom: 4rem;
}
footer .textContainer a{
    color: var(--primary-color);
}

/*****************************************************************/
/***************************** Media *****************************/
/**************************** Queries ****************************/
/*****************************************************************/
@media screen and (min-width: 768px){
    .d-flex{
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
    }
    .d-f-content-center{
        justify-content: center;
    }
    .d-f-column{
        flex-flow: column wrap;
    }
    .d-f-align-center{
        align-items: center;
    }
    .d-f-align-flex-end{
        align-items: flex-end;
    }
    .gap-5rem{
        gap: 5rem;
    }
    .card{
        width: calc(100% / 3 - 1rem);
    }
    #intro .card:first-child{
        width: calc((100% / 3) * 2 - 1rem);
        display: flex;
    }
    .card:first-child img{
        float: left;
    }
    #planning #appDevelopment{
        padding: 2rem 3rem;
    }
    .benefits.d-flex{
        gap: 2rem;
    }
    .benefit{
        width: calc(100% / 2 - 1.5rem);
    }
    .testimonial{
        width: 100%;
        margin-bottom: 1rem;
    }
    .testimonial-photo{
        margin: 0;
    }
    .testimonial-info{
        width: calc(100% - 200px - 5rem);
        text-align: left;
    }
    #about-us .left-info{
        width: calc(100% - 400px - 5rem);
    }
    #about-us .right-info{
        width: 230px;
    }
    #about-us .testimonial-photo{
        width: 230px;
        height: 230px;
    }
    #call-to-action .mot{
        font-size: calc(var(--fs-h2) + 1rem);
    }
    #call-to-action .txt-contrast{
        font-size: calc(var(--fs-h2-big) + 2rem);
    }
    #call-to-action .content{
        max-width: 500px;
        margin: 0 auto;
    }
    #call-to-action button{
        padding: 2rem 5rem;
        border-radius: 50px;
    }
}
@media screen and (min-width: 992px){
    #intro .card:first-child{
        flex-flow: column wrap;
    }
    #planning{
        min-height: 100vh;
        padding-top: 5rem;
    }
    #planning .leftContent, #planning .rightContent{
        width: calc(100% / 2 - 1rem);
        max-width: 500px;
    }
    #planning #appDevelopment{
        max-height: 650px;
        margin-left: 4rem;
    }
    #planning #appDevelopment img{
        width: 80%;
    }
    .benefit{
        width: calc(100% / 3 - 1.5rem);
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    header .container{
        padding: 1rem 3rem;
    }
    header .container>img{
        margin-left: -1rem;
    }
    header nav>a{
        display: none;
    }
    header nav ul{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 2rem;
    }
    header nav a, header nav a:visited{
        font-size: calc(var(--fs-header) - 0.3rem);
    }
    #intro .card:first-child{
        flex-flow: row wrap;
    }
    .card-left-txt, .card-right-img{
        width: calc(100% / 2 - 1rem);
    }
    .card-right-img{
        position: relative;
    }
    .card-right-img img{
        position: absolute;
        bottom: 0;
        left: 4rem;
    }
}