/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */

    /* Color styles */
    --dark-color: #333333;
    --header-color: #0084FD;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --card-bg-color: #B5DDFF;
    --contrast-color: #FDC15F;


    /* Text colors variables */

    /* Border variables */

    /* Hover variables */
    
    /* Size variables */

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    font-family: 'PT Sans', sans-serif;
}
header{
    background-color: var(--header-color);
    color: var(--light-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
main{
    background-color: var(--light-color);
    color: var(--dark-color);
}
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
main section:nth-child(even){
    background-color: var(--primary-color);
}
.container{
    padding: 2rem 1rem 3rem 1rem;
}